body{
    margin:0;
    font-family: "Salsa", cursive;
}

.hero-section{
    /* min-height: 100vh; */
    /* background-color: #F99501; */
    background-image: url(/images/orange-backdrop\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.jhalar{
    width:250px;
  
    

}

.pragraph-and-audio {
    margin-left: 15rem;
  }
  
  .hero-section p {
    font-size: 46px;
    max-width: 550px;
    
  }
  
  audio::-webkit-media-controls-panel {
    background-color: #fbd8a4;
  }

.audio-container{

    background-color: #fbd8a4;
    max-width: 500px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}
.laksmi-ganesha-image{
    max-width: 900px;
    display: block;
    width:100%;
    margin-inline: auto;
}
.laksmi-ganesha{
    background-color: #F99501;
    padding-block: 1em;
    padding-inline: 1rem;
}
.horizontal-line{
    height: 2px;
    background-color: #fbd8a4;
    width: 468px;

}
.horizontal-divider{
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 12px;
    max-width: 800px;
    margin-bottom: 1rem;
}

.circle{
    width:10px;
    height: 10px;
    background-color: #fbd8a4;
    border-radius: 100%;
    flex-shrink: 0;

}

.laksmi-ganesha h2{
    font-family: "Style Script", cursive;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.white-card{
    max-width: 550px;
    background-color:white;
    padding:4rem;
    border-radius: 20px;
    
}
.white-card p{
    font-size: 2rem;
}
.white-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.little-girl{
   max-width:280px;
   margin-left: -5rem;
}
.laksmi-ganesha-card{
    background-color: white;
    padding:4rem;
    border-radius: 20px;
    max-width: 772px;
    display: flex;
    margin-inline: auto;
}

.laksmi-ganesha-card img{
    width: 50%;

}
.thank-you{
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
}
    

.thank-you h2{
    text-align: left;
}

.my-name{
    text-align: right;
    font-size: 14px;
}

@media (max-width:840px){
    .first-deepak{
        display: block;
        margin-left: auto;
    }
    .second-deepak{

        display: none;
    }
    .pragraph-and-audio {
        margin-left: 1rem;
    }

    .soulful{
        display: none;
    }
    .animation{
        display: none;
    }
    .audio-container{
        max-width: max-content;
    }
    .hero-section p{
        font-size: 30px;
    }
    .white-card p{
        font-size: 1.25rem;
    }
    .laksmi-ganesha-card{
        padding: 2rem;
    }
}
.little-girl{
    max-width:160px;
}
.white-card {
    padding-block: 1rem;
    padding-left: 2rem;
}
    

@media (max-width:540px){
    .hero-section p{
        font-size: 28px;
    }

    .first-deepak{
        width:100%;
        max-width: 300px;
 
    }
    .laksmi-ganesha h2{
        font-size: 32px;
    }
}